[Unit]
Description=Break timer

[Service]
Type=simple
StandardOutput=journal
Environment=DISPLAY=<display>
ExecStart=<script>

[Install]
WantedBy=default.target
